{% extends 'web/base.html' %} {% load static %} {% block content %}


<!DOCTYPE html>
<html lang="zxx">

<head>
  
</head>

<body>
  <!-- app wrapper -->
  <div class="sb-app">
    <!-- preloader -->
    
    <!-- preloader end -->
    <!-- click effect -->
    
    <!-- loader -->
    
    <!-- top bar -->
    
    <!-- top bar end -->

    <!-- dynamic content -->
    <div id="sb-dynamic-content" class="sb-transition-fade">

      <!-- banner -->
      
      <!-- banner end -->

      <!-- About text -->
      <section class="sb-about-text about_dynamic_section">
        <div class="sb-bg-2" style="margin-top: 90px">
          <div></div>
        </div>
        <style>
          .about_dynamic_section{
            padding-top: 220px;
          }
          @media (max-width: 991px) {
            .about_dynamic_section{
              padding-top: 110px;
            }
          }
        </style>
        <div class="container">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="sb-illustration-2 sb-mb-90">
                <div class="sb-interior-frame">
                  <img src="/static/web/image/gallery/Frame 16447-min.png" alt="interior" class="sb-interior"
                    style="object-position: center">
                </div>
                <div class="sb-square"></div>
                <div class="sb-experience">
                  <div class="sb-exp-content">
                    <p class="sb-h1 sb-mb-10">17</p>
                    <p class="sb-h3">Years Experiense</p>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-lg-6 align-self-center sb-mb-60">
              <h2 class="sb-mb-60">Experience our Unforgettable <br>flavors & exceptional service</h2>
              <p class="sb-text sb-mb-30">Welcome to "Sign Restaurant" where we pride ourselves on serving exceptional cuisine in a warm and inviting atmosphere. Our restaurant features a modern yet cosy interior, with comfortable seating and stylish decor that creates the perfect ambience for a memorable dining experience. Our menu boasts a wide variety of mouth-watering dishes, expertly prepared by our talented chefs using only the freshest ingredients. From hearty entrées to delicious appetizers and decadent desserts, there's something for everyone at Delicious Bites.</p>
              <p class="sb-text sb-mb-60">Whether you're looking for a romantic dinner for two, a family celebration, or a night out with friends, our friendly staff is ready to make your visit truly unforgettable. And with our extensive selection of wines and cocktails, you can pair your meal with the perfect drink to complement your palate.</p>
              <p class="sb-text sb-mb-60">So why wait? Come and enjoy a meal at Sign Restaurant, and discover why we're one of the most popular restaurants in town.</p>
            </div>
          </div>
        </div>
      </section>
      <!-- About text end -->

      <!-- features -->
      <section class="sb-features sb-p-0-30">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <div class="sb-features-item sb-mb-60">
                <div class="sb-number">01</div>
                <div class="sb-feature-text">
                  <h3 class="sb-mb-15">Kid-friendly menu</h3>
                  <p class="sb-text">We special menu for children featuring familiar dishes in smaller portions at affordable prices, with fun elements to keep them entertained.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="sb-features-item sb-mb-60">
                <div class="sb-number">02</div>
                <div class="sb-feature-text">
                  <h3 class="sb-mb-15">Large group seating</h3>
                  <p class="sb-text">Our restaurants offer large tables or booths for accommodating families and groups, ensuring a comfortable and enjoyable dining experience for everyone.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="sb-features-item sb-mb-60">
                <div class="sb-number">03</div>
                <div class="sb-feature-text">
                  <h3 class="sb-mb-15">Affordable pricing</h3>
                  <p class="sb-text">Our restaurants provide affordable pricing options to fit within a family's budget, making it easier to enjoy a meal out without breaking the bank.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="sb-features-item sb-mb-60">
                <div class="sb-number">04</div>
                <div class="sb-feature-text">
                  <h3 class="sb-mb-15">Fast service</h3>
                  <p class="sb-text">Our restaurants prioritize fast service to accommodate families with young children who may be impatient or easily distracted, ensuring a quick and efficient dining experience.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="sb-features-item sb-mb-60">
                <div class="sb-number">05</div>
                <div class="sb-feature-text">
                  <h3 class="sb-mb-15">Healthy menu options</h3>
                  <p class="sb-text">A family-friendly atmosphere in our restaurants caters to the needs and preferences of families, creating a warm, welcoming, and inviting environment suitable for all ages.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="sb-features-item sb-mb-60">
                <div class="sb-number">06</div>
                <div class="sb-feature-text">
                  <h3 class="sb-mb-15">Family-friendly atmosphere</h3>
                  <p class="sb-text">Our restaurants offer healthier options on their menu, such as salads, grilled meats, and vegetarian or vegan dishes, to cater to health-conscious families.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="sb-features-item sb-mb-60">
                <div class="sb-number">07</div>
                <div class="sb-feature-text">
                  <h3 class="sb-mb-15">Family restrooms</h3>
                  <p class="sb-text">Family restrooms are a feature in restaurants that provide private and spacious facilities for families, equipped with amenities such as changing tables and additional seating.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="sb-features-item sb-mb-60">
                <div class="sb-number">08</div>
                <div class="sb-feature-text">
                  <h3 class="sb-mb-15">Home Delivery </h3>
                  <p class="sb-text">Our restaurant home delivery services provide customers with the convenience of ordering meals online or over the phone and receiving them at their doorstep, without having to leave their homes.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- features end -->

      <!-- video -->
      <section class="sb-video">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="sb-mb-90">
                
                <h2 class="sb-mb-30">Experience the art of dining<br> in a way you've never imagined before.</h2>
                
                <!-- button -->
                <a data-fancybox="" data-no-swup href="/static/web/video/Sign.mp4" class="sb-btn">
                  <span class="sb-icon">
                    <img src="/static/web/image/ui/icons/play.svg" alt="icon">
                  </span>
                  <span>Watch now</span>
                </a>
                <!-- button end -->
              </div>
            </div>
            <div class="col-lg-6 align-self-center">
              <div class="sb-illustration-7 sb-mb-90">
                <div class="sb-interior-frame">
                  <img src="/static/web/image/illustrations/brnch img 2.png" alt="interior" class="sb-interior">
                  <a data-fancybox="" data-no-swup href="/static/web/video/Sign.mp4" class="sb-video-play"><i class="fas fa-play"></i></a>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- video end -->

      <!-- team -->
      
      <!-- team end -->

      <!-- revievs -->
      <section class="sb-reviews sb-p-0-90">
        <div class="container">
          <div class="sb-group-title sb-mb-30">
            <div class="sb-left sb-mb-30">
              <h2 class="sb-mb-30">Happy <span>customers,</span> happy us</h2>
              <p class="sb-text">Our customers' satisfaction <br>is our ultimate goal. Read their testimonials to see how we're doing.</p>
            </div>
            <div class="sb-right sb-mb-30">
              <!-- slider navigation -->
              <div class="sb-slider-nav">
                <div class="sb-prev-btn sb-reviews-prev"><i class="fas fa-arrow-left"></i></div>
                <div class="sb-next-btn sb-reviews-next"><i class="fas fa-arrow-right"></i></div>
              </div>
              <!-- slider navigation end -->
              <!-- button -->
              
              <!-- button end -->
            </div>
          </div>
          <div class="swiper-container sb-reviews-slider">
            <div class="swiper-wrapper">
            {% for review in review %}
              <div class="swiper-slide">
                <div class="sb-review-card">
                  <div class="sb-review-header sb-mb-15">
                    <h4 class="sb-mb-15">{{review.massage}}</h4>

                  </div>
                  <p class="sb-text sb-mb-15">{{review.review}}</p>
                  <div class="sb-author-frame">
                    <div class="sb-avatar-frame">
                      <img src="{{review.Guest.url}}" alt="Guest">
                    </div>
                    <h4>{{review.Guest_name}}</h4>
                  </div>
                </div>
              </div>
              {% endfor %}

              {% comment %} 
              <div class="swiper-slide">
                <div class="sb-review-card">
                  <div class="sb-review-header sb-mb-15">
                    <h4 class="sb-mb-15">Very tasty</h4>
                    
                  </div>
                  <p class="sb-text sb-mb-15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis fugiat totam nobis quas unde excepturi inventore possimus laudantium provident, rem eligendi velit. Aut molestias, ipsa itaque laborum, natus
                    tempora, ut soluta animi ducimus dignissimos deserunt doloribus in reprehenderit rem accusamus! Quibusdam labore, aliquam dolor harum!</p>
                  <div class="sb-author-frame">
                    <div class="sb-avatar-frame">
                      <img src="/static/web/image/faces/1.jpg" alt="Guest">
                    </div>
                    <h4>Emma Newman</h4>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="sb-review-card">
                  <div class="sb-review-header sb-mb-15">
                    <h4 class="sb-mb-15">I have lunch here every day</h4>
                    
                  </div>
                  <p class="sb-text sb-mb-15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis fugiat totam nobis quas unde excepturi inventore possimus laudantium provident, rem eligendi velit. Aut molestias, ipsa itaque laborum, natus
                    tempora, ut soluta animi ducimus dignissimos deserunt doloribus in reprehenderit rem accusamus! Quibusdam labore, aliquam dolor harum!</p>
                  <div class="sb-author-frame">
                    <div class="sb-avatar-frame">
                      <img src="/static/web/image/faces/2.jpg" alt="Guest">
                    </div>
                    <h4>Paul Trueman</h4>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="sb-review-card">
                  <div class="sb-review-header sb-mb-15">
                    <h4 class="sb-mb-15">Great service</h4>
                    
                  </div>
                  <p class="sb-text sb-mb-15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis fugiat totam nobis quas unde excepturi inventore possimus laudantium provident, rem eligendi velit. Aut molestias, ipsa itaque laborum, natus
                    tempora, ut soluta animi ducimus dignissimos deserunt doloribus in reprehenderit rem accusamus! Quibusdam labore, aliquam dolor harum!</p>
                  <div class="sb-author-frame">
                    <div class="sb-avatar-frame">
                      <img src="/static/web/image/faces/3.jpg" alt="Guest">
                    </div>
                    <h4>Viktoria Freeman</h4>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="sb-review-card">
                  <div class="sb-review-header sb-mb-15">
                    <h4 class="sb-mb-15">Sign is amazing!</h4>
                    
                  </div>
                  <p class="sb-text sb-mb-15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis fugiat totam nobis quas unde excepturi inventore possimus laudantium provident, rem eligendi velit. Aut molestias, ipsa itaque laborum, natus
                    tempora, ut soluta animi ducimus dignissimos deserunt doloribus in reprehenderit rem accusamus! Quibusdam labore, aliquam dolor harum!</p>
                  <div class="sb-author-frame">
                    <div class="sb-avatar-frame">
                      <img src="/static/web/image/faces/4.jpg" alt="Guest">
                    </div>
                    <h4>Audrey Oldman</h4>
                  </div>
                </div>
              </div>
               {% endcomment %}
            </div>
          </div>
        </div>
      </section>
      <!-- revievs end -->

      <!-- call to action -->
      <section class="sb-call-to-action">
        <div class="sb-bg-3"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="sb-cta-text">
                <h2 class="sb-h1 sb-mb-30">Free delivery service.</h2>
                <!-- button -->
                <div class="contact_and_menu sb-mb-30">
                  <a href="{% url 'web:contact' %}" class="sb-btn sb_btn_lamiiz">
                    <span>Order delivery</span>
                  </a>
                  <!-- button end -->

                  <!-- button -->
                  
                </div>
                <!-- button end -->

                <style>
                  .contact_and_menu{
                    display: flex;
                  }
                  .sb_btn_lamiiz span {
                    white-space: nowrap;
                    line-height: 55px;
                    display: inline-block;
                    padding: 0 20px 0 20px;
                    font-weight: 500;
                  }
                </style>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="sb-illustration-8">
                <img src="/static/web/image/illustrations/delivery img.png" alt="reserved" class="sb-reserved">
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- call to action end -->

      <!-- footer -->
     
      <!-- footer end -->

    </div>
    <!-- dynamic content end -->

  </div>
  <!-- app wrapper end -->

  

</body>

</html>
{% endblock %}
