{% load static %}
<!-- footer -->


<footer class="footer-section">
    <div class="footer-bottom">
        <div class="container">
            <div class="sb-footer-frame">
                <a href="{% url 'web:index' %}" class="sb-logo-frame">
                    <!-- logo img -->
                    <img src="/static/web/image/ui/sign logo.png" alt="Sign">

                </a>
                <ul class="sb-social">
                    <li><a target="_blank" href="https://instagram.com/signrestaurant?igshid=NTc4MTIwNjQ2YQ=="><i
                                class="fab fa-instagram"></i></a></li>
                    <li><a target="_blank" href="https://www.facebook.com/Signrestaurant"><i
                                class="fab fa-facebook-f"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold widget-title mb-4">
                        <i class="fas fa-gem me-3"></i> &#160;Sign Restaurant
                    </h6>
                    <p>
                        Sign Restaurant, Kottakkal has signed its name in the minds of foodies with its distinguished
                        style and taste of food with the tradition of having served for generations.
                    </p>
                </div>


                {% comment %} <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <div class="widget latest-news-widget">
                        <h5 class="widget-title text-uppercase fw-bold mb-4">branches</h5>
                        <ul class="small-post-list">
                            <li>
                                <div class="small-post-item">

                                    <h6 class="small-post-title"><a href="#"><i
                                                class="fas fa-long-arrow-alt-right"></i>NH Changuvetty, Opposite malabar
                                            gold,
                                            Kottakkal, India.</a></h6>
                                </div>
                            </li>
                            <li>
                                <div class="small-post-item">
                                    <h6 class="small-post-title"><a href="#"><i
                                                class="fas fa-long-arrow-alt-right"></i>Branch-Al Riffa, Opposite Mina
                                            Al Arab,
                                            Sheikh Mohamed Bin Salem Rd, Ras al Khaimah.</a></h6>
                                </div>
                            </li>
                            <!-- small-post-item end -->
                        </ul>
                    </div>
                </div> {% endcomment %}

                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <div class="widget latest-news-widget">
                        <h5 class="widget-title text-uppercase fw-bold mb-4">branches</h5>
                        <ul class="small-post-list">
                            <li>
                                <ul class="small-post-item small-post-list_lamiiz">

                                    <li class="small-post-title"><a href="#"><i class="fas fa-long-arrow-alt-right"></i> Sign Restaurant Kottakkal </a></li>
                                    <li><p><i class="fas fa-phone me-3"></i><a href="tel:+918234000444"> +91 82340 00444</a></p></li>
                                                
                                </ul>
                            </li>
                            <li>
                                <ul class="small-post-item small-post-list_lamiiz">

                                    <li class="small-post-title"><a href="#"><i class="fas fa-long-arrow-alt-right"></i> Sign Restaurant Ras al Khaimah.</a></li>
                                    <li><p><i class="fas fa-phone me-3"></i><a href="tel:+0521759990">0521759990</a></p></li>
                                </ul>
                            </li>
                            <!-- small-post-item end -->
                        </ul>
                    </div>
                </div>

                <!-- widget end -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-md-0 mb-4">
                    <div class="widget course-links-widget">
                        <h5 class="widget-title text-uppercase fw-bold mb-4">Pages in sign</h5>
                        <ul class="courses-link-list">
                            <li><a href="{% url 'web:index' %}"><i class="fas fa-long-arrow-alt-right"></i>Home</a></li>
                            <li><a href="{% url 'web:about' %}"><i class="fas fa-long-arrow-alt-right"></i>About</a>
                            </li>
                            <li><a href="{% url 'web:menu' %}"><i class="fas fa-long-arrow-alt-right"></i>Menu</a></li>
                            <li><a href="{% url 'web:branch' %}"><i class="fas fa-long-arrow-alt-right"></i>Branches</a>
                            </li>
                            <li><a href="{% url 'web:gallery' %}"><i class="fas fa-long-arrow-alt-right"></i>Galley</a>
                            </li>
                            <li><a href="{% url 'web:contact' %}"><i class="fas fa-long-arrow-alt-right"></i>Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- widget end -->

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="widget-title text-uppercase fw-bold mb-4 contact_footer">Contact</h6>
                    <p><i class="fas fa-map-marker-alt"></i> NH CHANGUVETTY ,(opp: malabar gold ), Kottakkal, India,</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        signrestaurant@gmail.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i><a href="tel:+918234000444"> +91 82340 00444</a></p>
                    <p><i class="fas fa-phone me-3"></i><a href="tel:+918234000222"> +91 82340 00222</a></p>
                    <p><i class="fas fa-phone me-3"></i><a href="tel:+918234000666"> +91 82340 00666</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        All © 2023 Copyright:
        <a class="text-reset fw-bold" href="#">by Sign Restaurant</a>
    </div>
    <!-- Copyright -->

    <!-- footer-bottom end -->

</footer>



<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

    .Sing_famly {
        font-family: 'Roboto', sans-serif;
        /* how to uppercase font style */
        font-weight: 700;
        font-size: 14px;

    }

    .contact_footer {
        font-size: 14px;
    }

    .courses-link-list a,
    .courses-link-list a:hover,
    .courses-link-list a:focus,
    .courses-link-list a:active {
        text-decoration: none;
        outline: none;
    }

    .courses-link-list a,
    .courses-link-list a:active,
    .courses-link-list a:focus {
        color: #6f6f6f;
        text-decoration: none;
        transition-timing-function: ease-in-out;
        -ms-transition-timing-function: ease-in-out;
        -moz-transition-timing-function: ease-in-out;
        -webkit-transition-timing-function: ease-in-out;
        -o-transition-timing-function: ease-in-out;
        transition-duration: .2s;
        -ms-transition-duration: .2s;
        -moz-transition-duration: .2s;
        -webkit-transition-duration: .2s;
        -o-transition-duration: .2s;
    }


    .company-footer-contact-list,
    .courses-link-list,
    .small-post-list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .footer_logo_img {
        max-width: 60%;
        height: auto;
    }

    .footer-section {
        background-color: #ffffff;
        position: relative;
        overflow: hidden;
        z-index: 9;

    }

    .footer-section:before {
        content: '';
        position: absolute;
        top: -146%;
        left: -18%;
        width: 44%;
        height: 257%;
        transform: rotate(54deg);
        background-color: #f2f3f5;
        -webkit-transform: rotate(54deg);
        -moz-transform: rotate(54deg);
        -ms-transform: rotate(54deg);
        -o-transform: rotate(54deg);
        z-index: -10;
    }

    .footer-section:after {
        position: absolute;
        content: '';
        background-color: #f2f3f5;
        top: -24%;
        right: 4%;
        width: 26%;
        height: 264%;
        transform: rotate(44deg);
        -webkit-transform: rotate(44deg);
        -moz-transform: rotate(44deg);
        -ms-transform: rotate(44deg);
        -o-transform: rotate(44deg);
        z-index: -10;
    }

    .footer-top {
        padding-top: 96px;
        padding-bottom: 50px;
    }

    .footer-top p,
    .company-footer-contact-list li {
        color: #465164;
    }

    .company-footer-contact-list {
        margin-top: 10px;
    }

    .company-footer-contact-list li {
        display: flex;
        display: -webkit-flex;
        align-items: center;
    }

    .company-footer-contact-list li+li {
        margin-top: 5px;
    }

    .company-footer-contact-list li i {
        margin-right: 10px;
        font-size: 20px;
        display: inline-block;
    }

    .footer-top .site-logo {
        margin-bottom: 25px;
        display: block;
        max-width: 170px;
    }

    .widget-title {
        text-transform: capitalize;
    }

    .footer-top .widget-title {
        color: #465164;
        margin-bottom: 40px;
    }

    .courses-link-list li+li {
        margin-top: 10px;
    }

    .courses-link-list li a {
        color: #465164;
        text-transform: capitalize;
        font-family: var(--para-font);
        font-weight: 400;
    }

    .courses-link-list li a:hover {
        color: #000000;
    }

    .courses-link-list li i {
        margin-right: 5px;
    }

    .footer-top .small-post-title a {
        font-family: var(--para-font);
        color: #465164;
        font-weight: 400;
    }

    .small-post-item .post-date {
        color: #ffb606;
        margin-bottom: 3px;
        font-family: var(--para-font);
        font-weight: 400;
    }

    .small-post-list li+li {
        margin-top: 30px;
    }
    .small-post-list_lamiiz li+li {
        margin-top: 10px;
    }
    .news-letter-form {
        margin-top: 15px;
    }

    .news-letter-form input {
        width: 100%;
        padding: 12px 25px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border: none;
    }

    .news-letter-form input[type="submit"] {
        width: auto;
        border: none;
        background-color: #ffb606;
        padding: 9px 30px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        color: #777777;
        margin-top: 10px;
    }

    .footer-bottom {
        padding: 0px 0;
        border-bottom: 2px solid #f2f3f5;

    }

    .copy-right-text {
        color: #777777;
    }

    .copy-right-text a {
        color: #ffb606;
    }

    .terms-privacy li+li {
        margin-left: 30px;
    }

    .terms-privacy li a {
        color: #777777;
        position: relative;
    }

    .terms-privacy li a:after {
        position: absolute;
        content: '-';
        color: #777777;
        display: inline-block;
        top: 0;
        right: -18px;
    }

    .terms-privacy li+li a:after {
        display: none;
    }

    @media (max-width: 425px) {

        footer .sb-footer-frame .sb-logo-frame img {
            width: 45px;
        }
    }
</style>